




.MainContainer {
    padding:0;
    margin: 0;
    background-color: #ffffff;
}


.table-hover tr:hover td {
    background-color: #1b1b1b;
    color: #ffffff;
    cursor: pointer;
}
















